.mainBody{
    padding: 20px 40px;
}

.wrapper{

}

.card{
    float: left;
    width: 32%; 
    min-height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background-color: whitesmoke;
    margin: .5rem;
}