.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: aliceblue;

    .wrapper{
        display: flex;
        align-items: center;

        .menu{
            list-style-type: none;
            padding-right: 35px;
            border-right: 1px solid aliceblue;

            >li {
                
                display: inline-block;

                >a{
                    display: block;
                    font-size: 16px;
                    color: grey;
                    padding: 0 6px;
                    text-decoration: none;
                }
            }
            
        }

        .buttons{
            display: flex;
            align-items: center;
            cursor: pointer;
            border: none;
            outline: none;
            padding-left: 10px;
            font-size: 16px;
            color: rgb(10, 5, 14);

            .loginButton{
                margin-left: 15px;
                padding: 10px 20px;
                border: 1px solid rgb(186, 219, 248);
            }

            .signUpButton{
                margin-left: 15px;
                padding: 10px 20px;
                border: 1px solid rgb(186, 219, 248);
            }
        }
    }
}